<div class="container py-5 mb-5" id="contact">
    <div class="row justify-content-evenly gy-5 gx-3">
        <div class="col-sm-12 col-lg-6">
            <h3>Want to start a project?</h3>
            <p class="text-muted">Let’s talk and bring your ideas to life!</p>
            <hr class="w-50">
        </div>
        <div class="col-sm-12 col-lg-6">
            <form action="{% url 'contact' %}" method="POST" onsubmit="showSpinner()">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="mb-1" for="name">Your Name</label>
                    <input type="text" class="form-control py-2 rounded-3" name="name" id="name" required placeholder="John Doe">
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="phone_number">Phone Number</label>
                    <input type="tel" class="form-control py-2 rounded-3" id="phone_number" name="phone_number" placeholder="+1234 567 890">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label mb-1">Email address</label>
                    <input type="email" class="form-control py-2 rounded-3" id="email" name="email" required placeholder="mail@example.com">
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="name">Subject</label>
                    <input type="text" class="form-control py-2 rounded-3" name="subject" id="subject" required placeholder="Quotation for a blog website">
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="message">Message</label>
                    <textarea required class="form-control py-2 rounded-3" placeholder="Leave your message here" name="message" id="message" style="height: 150px"></textarea>
                </div>
                <div class="mb-3">
                    {{ contact_form.captcha }}
                    {% if contact_form.captcha.errors %}
                    <div class="text-danger">{{ contact_form.captcha.errors }}</div>
                    {% endif %}
                </div>
                <button id="submit-btn" type="submit" class="btn btn-dark px-3 rounded-3">
                    <span id="submit-text">Send Message <i class="fa-solid fa-comment-dots ms-1" style="font-size: .95rem;"></i></span>
                    <span id="processing-text" class="d-none">Sending message...</span>
                    <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
</div>
