<div class="container-fluid background-primary-dark py-5">
    <div class="container py-5 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <h3 class="text-center text-white mb-4">Have a project in mind or just want to say hello?</h3>
                <p class="text-white mb-4">We'd love to hear from you and take your business to the next level.</p>
                <a href="{% url 'contact' %}" class="btn--primary">Contact Us</a>
            </div>
        </div>
    </div>
</div>