<div class="container-xxl bg-primary-dark newsletter py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <h1 class="text-center text-white mb-4">Have a project in mind or just want to say hello?</h1>
                <p class="text-white mb-4">We'd love to hear from you and take your business to the next level.</p>
                <a href="{% url 'contact' %}" class="btn btn-primary btn-lg rounded-pill">Contact Us</a>
            </div>
        </div>
    </div>
</div>