{% load static %}
<section class="container-fluid bg-dark my-6">
    {% if testimonials %}
    <div id="testimonialCarousel" class="container carousel slide px-0 px-lg-2 rounded-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for testimonial in testimonials %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row px-0 justify-content-center fadeIn">
                    <h1 class="display-3 fw-300 text-white">"{{ testimonial.testimonial }}"</h1>
                </div>
                <div class="d-flex mt-4 flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row gap-3 justify-content-center align-items-center">
                        {% if testimonial.image %}
                        <img src="{{ testimonial.image.url }}" alt="{{ testimonial.name }}'s image" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">
                        {% else %}
                        <img src="https://images.pexels.com/photos/1570779/pexels-photo-1570779.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Abstract painting" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">
                        {% endif %}
                        <div>
                            <p class="text-white fw-500 small my-0">{{ testimonial.name }}</p>
                            <p class="text-white small fw-300 my-0">{{ testimonial.department }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex mt-3 flex-row gap-3 justify-content-center align-items-center">
            <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev" class="btn btn-secondary" style="border-radius: 50px; padding: .6rem 1rem"><i class="fa-solid fa-arrow-left-long text-dark"></i></button>
            <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next" class="btn btn-primary" style="border-radius: 50px; padding: .6rem 1rem"><i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
    </div>
    {% else %}
    <div id="testimonialCarousel" class="container carousel slide px-0 px-lg-2 rounded-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row px-0 justify-content-center fadeIn">
                    <h1 class="display-3 fw-300 text-white">"The work they are doing for us on our website is extremely incredible. I am proud of the work we are doing with them."</h1>
                </div>
                <div class="d-flex mt-4 flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row gap-3 justify-content-center align-items-center">
                        <img src="{% static 'img/Robert_Sibia_Africa.jpg' %}" alt="Arap Tala's image" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">
                        <div>
                            <p class="text-white fw-500 small my-0">Robert Onyari Nyabongoye</p>
                            <p class="text-white small fw-300 my-0">CEO Sibia Africa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mt-3 flex-row gap-3 justify-content-center align-items-center">
            <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev" class="btn btn-secondary" style="border-radius: 50px; padding: .6rem 1rem"><i class="fa-solid fa-arrow-left-long text-dark"></i></button>
            <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next" class="btn btn-primary" style="border-radius: 50px; padding: .6rem 1rem"><i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
    </div>
    {% endif %}
</section>
