{% load static %}
{% load hitcount_tags %}
<div class="">
    {% if blog.cover %}
    <img class="img-fluid rounded-4 w-100 bg-light" src="{{ blog.cover.url }}" alt="{{ blog.title }}'s thumbnail" style="height: 200px; width: 319px; object-fit: cover">
    {% else %}
    <img class="img-fluid rounded-4 w-100 bg-light" src="{% static 'img/blogs_thumbnail.png' %}" alt="{{ blog.title }}'s thumbnail" style="height: 200px; width: 319px; object-fit: cover">
    {% endif %}
    <div class="mt-2">
        <a href="{{ blog.get_url }}" class="no-btn">
            <div class="d-flex flex-row flex-wrap gap-2 align-items-center">
                <small class="badge-sm" style="background-color: #bcbcbc;">{{ blog.category }}</small> 
                <small class="text-muted" style="font-size: .8rem;">{% get_hit_count for blog %} views</small> 
            </div>
            <h6 class="mt-2 fw-500 hover-underline text-dark">{{ blog.title|truncatechars:75 }}</h6>
            <p class="fw-300 text-muted small">{{ blog.summary|truncatewords:10   }}</p>
            <button class="btn btn-outline-secondary rounded-4 w-100">Read now</button>
        </a>
    </div>
</div>
