.text-primary-dark{
    color: #0a2e2b;
}
.text-primary-light{
    color: #ebf9f3;
}
.bg-primary-dark{
    background-color: #0a2e2b;
}
.bg-primary-light{
    background-color: #ebf9f3;
}
.bg-grey{
    background-color: #e2e2e2;
}