{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load hitcount_tags %}
<main class="container px-lg-0 px-3 my-6">
    <div class="wow fadeInUp">
        <h1 class="text-center">Our work</h1>
        <p class="text-center text-muted  mb-5">Explore our recent projects and see how we’re helping freelancers, creative professionals, and small businesses elevate their online presence. Each project reflects our commitment to innovative design, functionality, and user experience.</p>
    </div>
    {% for project in projects %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="row g-4 mb-4">
            <div class="col-lg-8 col-sm-12 order-md-2">
                <div class="rounded-5 border">
                    {% if project.logo %}
                    <img class="img-fluid rounded-5 w-100 bg-light" src="{{ project.get_cover_image }}" alt="{{ project.name }}'s cover" style="height: 420px; width: 100%; object-fit: cover">
                    {% else %}
                    <img class="img-fluid w-100 bg-light" src="" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 order-md-1">
                <div class="rounded-5 border d-flex flex-column justify-content-center bg-white p-5" style="height: 420px">
                    <h4>{{ project.category }} for {{ project.name }}</h4>
                    <p class="text-muted my-4 fw-300">{{ project.description|truncatewords:20 }}</p>
                    <a class="hover-underline text-dark" href="{{ project.get_url }}">See project detail <i style="font-size: .8rem;" class="fa-solid fa-chevron-right ms-2"></i></a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row g-4 mb-4">
            <div class="col-lg-8 col-sm-12">
                <div class="rounded-5 border">
                    {% if project.logo %}
                    <img class="img-fluid rounded-5 w-100 bg-light" src="{{ project.get_cover_image }}" alt="{{ project.name }}'s cover" style="height: 420px; width: 100%; object-fit: cover">
                    {% else %}
                    <img class="img-fluid w-100 bg-light" src="" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="rounded-5 border d-flex flex-column justify-content-center bg-white p-5" style="height: 420px">
                    <h4>{{ project.category }} for {{ project.name }}</h4>
                    <p class="text-muted my-4 fw-300">{{ project.description|truncatewords:20 }}</p>
                    <a class="hover-underline text-dark" href="{{ project.get_url }}">See project detail <i style="font-size: .8rem;" class="fa-solid fa-chevron-right ms-2"></i></a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</main>
{% endblock %}
