{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="container pb-5 px-3 mb-5">
    <header class="row my-4 mt-lg-5">
        <div class="col-12">
            <a href="{% url 'projects_list' %}" onclick="if (document.referrer && document.referrer !== window.location.href) { history.back(); return false; }" class="no-link"><i class="fa-solid fa-arrow-left me-2"></i> Projects</a>
            <h1 class="display-5 mt-2">{{ project.name }}</h1>
        </div>
    </header>
    <p class="text-muted lead">{{ project.description }}</p>
    <ul class="list-unstyled">
        <li class="bg-light p-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h6 class="text-muted my-0">CLIENT</h6>
                <h6 class="my-0">{{ project.client|upper }}</h6>
            </div>
        </li>
        <hr class="my-0 text-grey">
        <li class="bg-light p-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h6 class="text-muted my-0">YEAR</h6>
                <h6 class="my-0">{{ project.year.year }}</h6>
            </div>
        </li>
        <hr class="my-0 text-grey">
        <li class="bg-light p-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h6 class="text-muted my-0">DEPARTMENT</h6>
                <h6 class="my-0">{{ project.company_category|upper }}</h6>
            </div>
        </li>
        <hr class="my-0 text-grey">
        <li class="bg-light p-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h6 class="text-muted my-0">CATEGORY</h6>
                <h6 class="my-0">{{ project.category.name|upper }}</h6>
            </div>
        </li>
        {% if project.website_link %}
        <hr class="my-0 text-grey">
        <li class="bg-light p-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h6 class="text-muted my-0">LINK</h6>
                <a href="{{ project.website_link }}" class="hover-primary fw-500">{{ project.link_name|upper }}</a>
            </div>
        </li>
        {% endif %}
        {% if request.user.is_superuser %}
        <hr class="my-0 text-grey">
        <li class="bg-light p-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h6 class="text-muted my-0">Views: {{ project.get_hit_count }}</h6>
                <a href="{% url 'update_project' project.pk %}" class="hover-primary fw-500">Update</a>
            </div>
        </li>
        {% endif %}
    </ul>
    {% if project.cover %}
    <img src="{{ project.cover.url }}" alt="{{ project.name }}" class="img-fluid w-100 border my-4 rounded-4 fadeIn">
    {% endif %}
    <div class="mt-4 row g-4 justify-content-between align-items-start">
        <div class="col-12 fadeIn">
            <article id="article">{{ project.content|safe }}</article>
        </div>
    </div>
    {% if project.testimonial %}
    <div class="d-flex flex-column mb-4 mt-5">
        <hr class="text-muted">
        <h2 class="display-2 mb-0 pb-0">“</h2>
        <h4 class="text-dark-2 fw-400 pt-0 mb-3">“{{ project.testimonial.testimonial }}”</h4>
        <div class="d-flex flex-row justify-content-start align-items-center mb-4">
            <div class="d-flex flex-row gap-3 justify-content-center align-items-center">
                {% if project.testimonial.image %}
                <img src="{{ project.testimonial.image.url }}" alt="{{ project.testimonial.name }}' Image" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">
                {% else %}
                <img src="https://images.pexels.com/photos/1570779/pexels-photo-1570779.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Abstract painting" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">
                {% endif %}
                <div>
                    <p class="text-dark-2 fw-500 small my-0">{{ project.testimonial.name }}</p>
                    <p class="small fw-300 my-0">{{ project.testimonial.department }}</p>
                </div>
            </div>
        </div>
        <hr class="text-muted">
    </div>
    {% endif %}
    <div class="row g-3 align-items-start mt-4">
        <hr class="text-muted">
        <div class="col-12">
            <h2>More Works</h2>
        </div>
        {% for project in project.get_related_projects %}
        <article class="col-12">{% include 'project_card_landscape.html' %}</article>
        {% endfor %}
    </div>
</main>
{% include "modals/submit_testimonial.html" %}
{% if project.get_images %}
{% include "modals/project_images.html" %}
<script src="{% static 'js/projectMediaModal.js' %}"></script>
{% endif %}
<script>
    var article = document.getElementById("article");
    if (article) {
        var img_elements = article.getElementsByTagName("img");
        for (var i = 0; i < img_elements.length; i++) {
            img_elements[i].classList.add("img-fluid");
            img_elements[i].classList.add("rounded-4");
            img_elements[i].classList.add("border");
            img_elements[i].classList.add("w-100");
        }
        for (var i = 0; i < p_elements.length; i++) {
            p_elements[i].style.fontFamily = "Space Grotesk, sans-serif";
            var spans = p_elements[i].getElementsByTagName("span");
            for (var j = 0; j < spans.length; j++) {
                spans[j].style.fontFamily = "Space Grotesk, sans-serif";
            }
        }
    }
</script>
{% endblock %}
