<a href="{{ project.get_url }}" class="no-link">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-3 col-sm-12">
            <img src="{{ project.get_cover_image }}" class="img-fluid rounded-2 border" alt="{{ project.name }}'s Cover">
        </div>
        <div class="col-md-9 col-sm-12">
            <p class="my-1 hover-underline text-dark">{{ project.get_short_description }}</p>
            <span class="badge-outline fw-400">{{ project.company_category }}</span>
        </div>
    </div>
</a>