<a href="{{ project.get_url }}" class="no-link">
    <div class="border p-3 d-flex flex-column" style="height: 340px; border-radius: 18px">
        <div>
            <img src="{{ project.get_cover_image }}" class="w-100 mb-3" alt="{{ project.name }}'s Cover" style="height: 200px; width: 319px; object-fit: cover; border-radius: 14px">
            <h5 class="fw-600 mb-0 hover-underline text-dark">{{ project.get_short_description|truncatechars:57 }}</h6>
        </div>
        <div class="mt-auto">
            <p class="small my-0 text-muted">{{ project.company_category }}</p>
        </div>
    </div>
</a>