{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="container my-6">
    <div class="fadeInUp">
        <h1 class="text-center mb-5">Try our applications</h1>
    </div>
    <div class="row g-4">
        <div class="col-sm-12 col-lg-4 fadeInUp">
            <img class="img-fluid rounded-4 w-100 bg-light" src="{{ image_compression_cover.url }}" alt="{{ blog.title }}'s thumbnail" style="height: 200px; width: 319px; object-fit: cover">
            <div class="mt-2">
                <a href="{% url 'image_compression' %}" class="no-btn">
                    <div class="d-flex flex-row flex-wrap gap-2 align-items-center">
                        <small class="badge-sm" style="background-color: #bcbcbc;">Made with Python</small> 
                    </div>
                    <h6 class="mt-2 fw-500 hover-underline text-dark">Pixel Press - Image Compression App</h6>
                    <p class="fw-300 text-muted small">This user-friendly tool supports various file types, including videos and documents.</p>
                    <button class="fadeInUp btn btn-outline-secondary rounded-4 w-100">Try now</button>
                </a>
            </div>
        </div>
        
        <div class="col-sm-12 col-lg-4 fadeInUp">
            <img class="img-fluid rounded-4 w-100 bg-light" src="{{ image_search_cover.url }}" alt="{{ blog.title }}'s thumbnail" style="height: 200px; width: 319px; object-fit: cover">
            <div class="mt-2">
                <a href="{% url 'image_search' %}" class="no-btn">
                    <div class="d-flex flex-row flex-wrap gap-2 align-items-center">
                        <small class="badge-sm" style="background-color: #bcbcbc;">Made with JavaScript</small> 
                    </div>
                    <h6 class="mt-2 fw-500 hover-underline text-dark">Pixa Scout - Image Search</h6>
                    <p class="fw-300 text-muted small">Explore the fusion of creativity and technology in the Image Search Web App.</p>
                    <button class="fadeInUp btn btn-outline-secondary rounded-4 w-100">Try now</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
