{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="container pb-5 px-3">
    <header class="row my-4 my-lg-5">
        <div class="col-sm-12 col-md-7">
            <h1 class="display-5">Applications</h1>
        </div>
    </header>
    <div class="row g-4 pb-5">
        {% for application in applications %}
        <div class="col-sm-12 col-md-6">
            <a href="{{ application.get_url }}" class="no-link">
                <div class="bg-highlight overflow-hidden">
                    <img class="img-fluid w-100 hover-expand" src="{{ application.img_md.url }}" alt="{{ application.name }}'s thumbnail">
                    <div class="p-3 p-lg-4 d-flex flex-column gap-2">
                        <h5 class="hover-underline my-0">{{ application.name }}, {{ application.label }}</h5>
                        <hr class="text-muted my-2">
                        <small class="text-muted">{{ application.short_description }}</small>
                        <div class="d-flex flex-row mt-2">
                            <small class="hover-underline hover-primary fw-600 link">{{ application.link_name }}</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}