{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load hitcount_tags %}
<main class="container my-5 py-5 px-3 fadeInUp">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12">
            <h1 class="text-center">Bloomberg News Finder</h1>
            <p class="text-muted text-center lead">Search for the latest news in any topic.</p>
            <form method="POST" class="d-flex input-group">
                {% csrf_token %}
                <input id="search-box" name="search_box" class="form-control rounded-start" type="text" required placeholder="Try bitcoin, music,..."/>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div id="news-list" class="row justify-content-center">
        {% if news_items %}
        <div class="col-sm-12 col-lg-8">
            <h4 class="text-center text-muted fw-400 my-4">Here's what we've got on <strong>{{ loading_text }}</strong></h4>
            <div class="list-group">
                {% for post in news_items %}
                <a href="{{ post.longURL }}" class="list-group-item list-group-item-action" target="_blank">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.title }}</h5>
                        <small class="text-muted">{{ post.date|date:"Y-m-d" }}</small>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% else %}
            <p class="text-center lead"></p>
        {% endif %}
    </div>
</main>
{% endblock %}
