{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load hitcount_tags %}
<main class="container mb-5 py-5 fadeInUp">
    {% if success_message %}
    <div class="alert alert-success" role="alert">{{ success_message }}</div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12">
            <form method="POST" enctype="multipart/form-data" id="compression-form" class="text-center">
                <h1 class="text-center mt-5">Pixel Press</h1>
                <p class="text-muted lead text-center">Upload your image, select desired compression size, and click 'Compress Image' to reduce its size, then download the compressed version.</p>
                {% csrf_token %}
                <div class="col my-3">
                    <input id="image" type="file" name="image" accept="image/*" required class="form-control form-control-lg" type="file" />
                </div>
                <select name="compression_size" class="form-select mb-3">
                    <option selected>Select Compression Size</option>
                    <option value="512">Small</option>
                    <option value="1024">Best</option>
                    <option value="2048">Higher</option>
                </select>
                <button class="btn btn-dark btn-lg" type="submit">Compress Image</button>
            </form>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'blog_detail' slug='introducing-pythons-image-compressing-app-your-all-in-one-solution' %}" class="hover-underline text-dark">
        Click here to read more about this app.</a>
    </div>
</main>
{% endblock %}
