{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/image-search.css' %}" />
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container px-lg-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form id="search-form" class="d-flex input-group">
                    <input id="search-box" class="form-control" type="text" placeholder="Search for images"/>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center" id="search-result"></div>
    </div>
    <button type="submit" class="btn text-center text-center btn-lg mx-auto btn-primary my-5" id="show-more-btn">Show more</button>
</div>
<div class="my-5 text-center">
    <small>Images provided by Unsplash API</small>
</div>
<script src="{% static 'js/image-search.js' %}"></script>
{% endblock %}