{% extends 'base.html' %}
{% block body %}
<div class="container px-md-2">
    <div class="row py-5">
        <div class="col-12 pt-3">
            <h1 class="mt-5">Generate and Download Your Custom QR Code</h1>
            <p class="mb-2">Effortlessly create personalized QR codes and download them instantly with a few clicks.</p>
            <form id="qrForm" method="POST" onsubmit="showSpinner()">
                {% csrf_token %}
                <div class="border rounded-3 p-2 mt-4 bg-white">
                    <div class="form-group p-2">
                        <label for="qr_name" class="form-label fw-500 text-dark h5">Name your QR code</label>
                        <input type="text" class="form-control form-control-lg text-muted" id="qr_name" name="qr_name" placeholder="e.g. My first QR code" required>
                    </div>
                </div>
                <div class="border rounded-3 p-2 mt-4 bg-white">
                    <div class="form-group p-2">
                        <h5>Website address</h5>
                        <p class="small text-muted">Enter the URL to which the QR code will link</p>
                        <input type="text" class="form-control form-control-lg text-muted" id="qr_input" name="qr_input" placeholder="e.g. www.mywebsite.com" required>
                    </div>
                </div>
                <button id="submit-btn" type="submit" class="btn btn-primary w-100 rounded-3 mt-4 py-2 px-4 btn-lg">
                    <span id="submit-text">Generate QR Code</span>
                    <span id="processing-text" class="d-none">Generating...</span>
                    <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </form>

            <div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="qrModalTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 border-0 bg-light">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="qrModalTitle">QR Code</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center" id="qrModalBody">
                                <!-- QR Code will be displayed here -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary px-4 py-2" data-bs-dismiss="modal">Close</button>
                            <a href="#" id="qrDownloadButton" class="btn btn-primary px-4 py-2">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.querySelector('#qrForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    const formData = new FormData(this); // Collect form data
    const modalTitle = document.querySelector('#qrModalTitle');
    const modalBody = document.querySelector('#qrModalBody');
    const modalDownloadButton = document.querySelector('#qrDownloadButton');

    // Send AJAX request
    fetch("{% url 'qr_code_generator' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.qr_code_image) {
            // Update the modal title and image
            modalTitle.textContent = data.qr_name;
            modalBody.innerHTML = `<img src="data:image/png;base64,${data.qr_code_image}" alt="QR Code" class="img-fluid mt-3 border">`;

            // Update the download button link
            modalDownloadButton.href = data.download_url;

            // Show the modal
            const qrModal = new bootstrap.Modal(document.getElementById('qrModal'));
            qrModal.show();

            const submitBtn = document.getElementById('submit-btn');
            document.getElementById('submit-text').classList.remove('d-none');
            document.getElementById('processing-text').classList.add('d-none');
            submitBtn.disabled = false;
            document.getElementById('spinner').classList.add('d-none');

        } else {
            alert("Failed to generate QR code.");
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert("An error occurred while generating the QR code.");
    });
});
</script>

{% endblock %}
