<a href="{{ blog.get_url }}" class="no-link">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-3 col-sm-12">
            <div class="rounded-2 overflow-hidden">
                <img src="{{ blog.get_meta_thumbnail }}" class="img-fluid rounded-2 border hover-expand" alt="{{ blog.title }}'s image">
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <p class="my-1 hover-underline text-dark">{{ blog.title|truncatechars:57 }}</p>
            <span class="badge-outline fw-400">{{ blog.pub_date|date:"M j, Y" }}</span>
        </div>
    </div>
</a>