{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load hitcount_tags %}
<main class="container mt-5">
    <div class="row justify-content-between g-5">
        <div class="col-md-8">
            <article class="blog-post">
                <h5 class="mb-4 fst-italic">{{ blog.introduction }}</h5>
                <p class="blog-post-meta pb-4 border-bottom">
                    <span>{{ blog.pub_date|timesince }} ago</span>
                    <span>by {{ blog.author }}</span>
                    <span>&#183; {% get_hit_count for blog %} views &#183;</span>
                </p>
            </article>
            <article class="blog-post">
                <p>{{ blog.paragraph_1|safe }}</p>
                <p>{{ blog.paragraph_2|safe }}</p>
            </article>
            <article class="blog-post">
                <p>{{ blog.paragraph_3|safe }}</p>
                <p>{{ blog.conclusion|safe }}</p>
            </article>
        </div>
        <div class="col-md-4">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-italic">Summary</h4>
                <p class="mb-0">{{ blog.summary }}</p>
            </div>
            <div class="p-4">
                <h4 class="fst-italic">Tags</h4>
                <ul class="list-unstyled mb-0">
                    {% for tag in tags %}
                    <li class="btn me-2 mb-2 btn-sm btn-outline-dark rounded-pill">{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-12 border-top pt-5">
            <img src="{{ blog.cover.url }}" alt="" class="img-fluid w-100">
        </div>
    </div>
</main>
{% endblock %}