{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load hitcount_tags %}
<main class="container-fluid px-0 mb-5">
    <div class="container my-6">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-9">
                <h1 class="text-center">{{ blog.title }}</h1>
                <p class="text-muted text-center">{{ blog.introduction }}</p>
                <div class="d-flex flex-row gap-3 justify-content-center align-items-center">
                    <img src="{% static 'img/araptala-thumbnail.jpg' %}" alt="Arap Tala's image" style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">
                    <div>
                        <p class="text-muted small my-0">By {{ blog.author }}</p>
                        <p class="text-muted small my-0">{{ blog.pub_date|timesince }} ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{{ blog.cover.url }}" alt="" class="img-fluid w-100 fadeIn">
    <div class="container px-4 mt-5">
        <div class="row justify-content-between g-5">
            <div class="col-md-8 col-sm-12">
                <article class="blog-post">
                    <p>{{ blog.paragraph_1|safe }}</p>
                    <p>{{ blog.paragraph_2|safe }}</p>
                </article>
                <article class="blog-post">
                    <p>{{ blog.paragraph_3|safe }}</p>
                    <p>{{ blog.conclusion|safe }}</p>
                </article>
                <a href="{% url 'blog_list' %}" class="btn btn-sm btn-outline-secondary px-3 mt-3 rounded-pill"><i style="font-size: .7rem;" class="fa-solid fa-arrow-left-long me-1"></i> Back to blogs</a>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="p-4 mb-3 border rounded-4">
                    <h4 class="fst-italic">Summary</h4>
                    <p class="mb-0 fw-300">{{ blog.summary }}</p>
                </div>
                <ul class="list-unstyled d-flex flex-row flex-wrap gap-1">
                    {% for tag in tags %}
                    <li class="btn btn-sm btn-outline-secondary px-3 rounded-pill">{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
