<a href="{{ blog.get_url }}" class="no-link">
    <div class="bg-white" style="border-radius: .6rem;">
        <div style="overflow: hidden; border-radius: .6rem .6rem 0 0;">
            <img class="img-fluid w-100 hover-zoom" src="{{ blog.get_meta_thumbnail }}" alt="{{ blog.title }}'s blog thumbnail" style="height: 200px; width: 319px; object-fit: cover">
        </div>
        <div class="p-3">
            <h6 class="fw-600 hover-underline text-dark">{{ blog.title|truncatechars:90 }}</h6>
            <p class="fw-400 my-0 text-muted small">{{ blog.summary|truncatechars:60 }}</p>
        </div>
    </div>
</a>
