{% extends 'base.html' %}
{% block body %}
<main class="container my-6">
    <div class="fadeInUp">
        <h1 class="text-center">News, Blogs and Tutorials</h1>
        <p class="text-center text-muted mb-5">Explore our latest articles, news updates, in-depth tutorials, and step-by-step guides. Whether you're looking to stay informed about the latest industry trends or learn how we built specific apps.</p>
    </div>
    <div class="row g-4">
        {% for blog in blogs %}
        <div class="col-lg-4 col-sm-12">
            {% include "components/blog.html" %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
