{% extends 'base.html' %} {% load static %} {% block body %}
<div style="margin-top: 7rem" class="container text-white">
  {% if success_message %}
  <div class="alert alert-success" role="alert">{{ success_message }}</div>
  {% endif %}
  <div class="row d-flex justify-content-between m-0 align-items-center">
    <form
      method="POST"
      enctype="multipart/form-data"
      class="col-lg-8 col-sm-6"
      id="compression-form"
    >
      <h1 class="text-primary-2">Image Compressor</h1>
      <p>
        Select your image below, press compress and your image will start to
        download after we've compressed it.
      </p>
      {% csrf_token %}
      <div class="col">
        <input
          id="image"
          type="file"
          name="image"
          accept="image/*"
          required
          class="form-control form-control-lg w-50"
          type="file"
        />
      </div>
      <select
        name="compression_size"
        class="form-select w-50"
        aria-label="Default select example"
      >
        <option selected>Select Compression Size</option>
        <option value="512">Small</option>
        <option value="1024">Best</option>
        <option value="2048">Higher</option>
      </select>
      <button class="btn btn--primary" type="submit">Compress Image</button>
    </form>

    <div class="col-lg-4 col-sm-6 float-right">
      <img
        style="height: 70vh"
        src="{% static 'images/svgs/undraw_upload_re_pasx.svg' %}"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="mx-auto text-center my-5">
    <a
      href="{% url 'blog_detail' slug='building-an-image-search-web-app-with-django-and-unsplash-api' %}"
      class="my-5 text-primary-2 small"
      >Read more about this app here
    </a>
  </div>
</div>
{% endblock %}
