{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load hitcount_tags %}
<main class="container-xxl">
    <section class="container py-5 px-lg-5">
        <div class="row">
            <div class="wow fadeInUp">
                <div class="rounded overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <h1>Title: {{ track.title }}</h1>
                        <p class="lead">Artists: {{ track.artist }}</p>
                        <p class="lead">Year: {{ track.year }}</p>
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                        <p>Seen {% get_hit_count for track %} times</p>
                        {% endif %}
                        <img class="img-fluid my-5 w-100" src="{{ track.landscape_cover.url }}" alt="">
                        <div class="text-center">
                            <div class="col mb-4"><a class="btn btn-primary btn-lg video-download-btn" href="{{ track.video_download_link }}" data-track-id="{{ track.id }}" data-url="{% url 'update_video_download_count' track.id %}">Download video <span><i class="fa-brands fa-youtube"></i></span></a></div>
                            <div class="col"><a class="btn btn-primary btn-lg audio-download-btn" href="{{ track.audio_download_link }}" data-track-id="{{ track.id }}" data-url="{% url 'update_audio_download_count' track.id %}">Download audio <span><i class="fa-solid fa-file-audio"></i></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.audio-download-btn').on('click', function(event) {
            event.preventDefault();
            var trackId = $(this).data('track-id');
            var downloadLink = $(this).attr('href');
            var updateUrl = $(this).data('url');
            $.ajax({
                url: updateUrl,
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        window.location.href = downloadLink;
                    } else {
                        alert('Failed to update download count.');
                    }
                },
                error: function() {
                    alert('Failed to update download count.');
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.video-download-btn').on('click', function(event) {
            event.preventDefault();
            var trackId = $(this).data('track-id');
            var downloadLink = $(this).attr('href');
            var updateUrl = $(this).data('url');
            $.ajax({
                url: updateUrl,
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        window.location.href = downloadLink;
                    } else {
                        alert('Failed to update download count.');
                    }
                },
                error: function() {
                    alert('Failed to update download count.');
                }
            });
        });
    });
</script>
{% endblock %}
