{% extends 'base.html' %}
{% block body %}
<div class="container-md px-lg-0 py-5">
    <div class="row mt-4 mt-lg-5 justify-content-center">
        <div class="col-lg-6 text-center">
            <i class="fa-solid fa-bug display-1 text-danger"></i>
            <h1 class="display-1 text-dark-2">500</h1>
            <h2>Internal Server Error</h2>
            <p class="mb-4">Oops! Something went wrong on our end. We're working to fix it. Please try again later or go back to the home page.</p>
            <a class="btn btn-dark btn-lg rounded-3 px-5" href="{% url 'index' %}">Go Back To Home</a>
        </div>
    </div>
</div>
{% endblock %}