{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Feature Start -->
<div id="services" class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="feature-item bg-light rounded text-center p-4">
                    <i class="{{ homepage_data.card_1_icon }}"></i>
                    <h5 class="mb-3">{{ homepage_data.card_1_title }}</h5>
                    <p class="m-0">{{ homepage_data.card_1_paragraph }}</p>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-item bg-light rounded text-center p-4">
                    <i class="{{ homepage_data.card_2_icon }}"></i>
                    <h5 class="mb-3">{{ homepage_data.card_2_title }}</h5>
                    <p class="m-0">{{ homepage_data.card_2_paragraph }}</p>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-item bg-light rounded text-center p-4">
                    <i class="{{ homepage_data.card_3_icon }}"></i>
                    <h5 class="mb-3">{{ homepage_data.card_3_title }}</h5>
                    <p class="m-0">{{ homepage_data.card_3_paragraph }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title text-secondary">About Us<span></span></p>
                <h1 class="mb-5">{{ about_data.title }}</h1>
                <p class="mb-4">{{ about_data.content }}</p>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Design & Development</p>
                        <p class="mb-2">95%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Graphic Design</p>
                        <p class="mb-2">90%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Digital Art</p>
                        <p class="mb-2">85%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <a href="{% url 'blog_list' %}" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/about-art3.png' %}">
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Accordion Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center justify-content-center">
                <div class="accordion col-lg-8 wow fadeInUp" id="accordionPanelsStayOpenExample" data-wow-delay="0.1s">
                    {% for accordion in accordions %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ accordion.pk }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ accordion.pk }}">
                                <span class="h5">{{ accordion.title }}</span>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse{{ accordion.pk }}" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class="lead">{{ accordion.content|safe|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>
<!-- Accordion End -->

{% endblock %}