{% extends 'base.html' %}
{% block body %}
{% load static %}
<header class="container-fluid bg-black" style="background: linear-gradient(0deg, #1e1e1e, #000)">
    <div class="container px-3 py-5">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-sm-12 col-md-10 text-center py-5">
                <p class="lead mb-0 text-white">Hi, I'm Moses</p>
                <h1 class="display-2 text-white">A full-stack web developer with <span class="text-primary">10+</span> years of graphic design experience</h1>
                <h1 class="na-font text-white">FOnt</h1>
            </div>
        </div>
    </div>
</header>
<main class="container pb-5 px-3 mt-5">
    <section class="row g-4 py-5 justify-content-between">
        <div class="col-sm-12 col-md-4 text-center">
            <img src="{% static 'img/moses-bartena.jpg' %}" alt="Moses Bartena Image" class="img-fluid rounded-4" style="filter: grayscale(1)">
        </div>
        <div class="col-sm-12 col-md-6">
            <h2 class="display-6">Get to Know Me!</h3>
            <p>Web development isn't just my job, it's my craft. I create intuitive, high-quality digital experiences that work. Let's collaborate and make something exceptional</p>
        </div>
    </section>
    <section class="row g-4 my-5">
        <div class="col-sm-12 col-md-6">
            <h2 class="display-6">Other Skills that make me multi-disciplinary</h3>
        </div>
        <div class="col-sm-12 col-md-6">
            <ul class="list-unstyled d-flex flex-column gap-3">
                {% for service in services %}
                <li class="rounded-4 p-3 {% if forloop.counter == 1 %}bg-grey{% else %}bg-light{% endif %} d-flex flex-column gap-2">
                    <i class="fa {{ service.icon }}" style="font-size: 1.5rem;"></i>
                    <h4 class="mb-0 fw-bold">{{ service.title }}</h4>
                    <small class="text-muted">{{ service.paragraph }}</small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="row pb-lg-5 pt-5 justify-content-between">
        <div class="col-12 mb-5">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-9">
                    <h2 class="display-4 text-start text-lg-center">It's About Solving Problems Not Just How it Looks</h3>
                </div>
            </div>
        </div>
        {% for project in projects %}
        <article class="col-12 my-5">
            <div class="row gy-lg-5 gy-2 justify-content-between align-items-center">
                <div class="col-sm-12 col-lg-8 order-md-2">
                    <img src="{{ project.get_cover_image }}" alt="{{ project.name }} Image" class="img-fluid rounded-4">
                </div>
                <div class="col-sm-12 col-lg-4 order-md-1">
                    <div class="bg-light rounded-4 p-3">
                        <div class="d-flex gap-5 flex-column justify-content-between">
                            <div>
                                <h5 class="fw-bold">{{ project.name }} <span class="text-muted fw-300">- {{ project.year|date:"Y" }}</span></h5>
                                <small class="text-muted">{{ project.what_we_did }}</small>
                            </div>
                            <a href="{{ project.get_url }}" class="no-link">
                                <div class="d-flex flex-row justify-content-between border rounded-pill align-items-center px-3 py-2 bg-highlight">
                                    <small class="fw-bold text-dark">Show Case</small>
                                    <i class="fa-solid fa-arrow-up rotate-diagonal"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>
    <section class="row pb-5 justify-content-center">
        <div class="col-12">
            <ul class="list-unstyled d-flex flex-row justify-content-center flex-wrap gap-4">
                {% for logo in logos %}
                    {% if logo.logo %}
                    <li>
                        <img src="{{ logo.logo.url }}" alt="{{ logo.name }}'s Logo" class="img-fluid greyscale" style="filter: grayscale(1) saturate(0); height: 80px;">
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</main>
<section class="container-fluid py-5" style="background-color: #1e1e1e;">
    <div class="px-lg-4 px-1 pt-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="d-flex flex-column gap-4 text-center">
                    <h3 class="display-3 text-white fw-300">Let's Create Impactful Designs Together</h3>
                    <div>
                        <a href="mailto:4ourpixels@gmail.com" class="btn btn-grey px-4 text-white rounded-pill btn-lg"><i class="fa-solid fa-envelope me-2"></i> 4ourpixels@gmail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}