{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp">
            <h1 class="text-center mb-5">Welcome back 400!</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp">
                    <form method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input required type="text" class="form-control" id="id_username" name="username" placeholder="Username">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input required type="password" class="form-control" id="id_password" name="password" placeholder="********">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Log In</button>
                            </div>
                        </div>
                        {% if messages %} 
                        <div class="row mt-4 text-center">
                            {% for message in messages %}
                            <div class="text-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}