{% extends 'base.html' %}
{% block body %}
<main class="container pb-5 px-3 mb-5">
    <div class="row justify-content-between align-items-start mt-4 mt-lg-5">
        <div class="col-sm-12 col-lg-6 mb-4">
            <h1 class="display-5 mb-3">Let’s create something amazing together.</h1>
            <p class="mb-4">Discover how Four Pixels Studio can help you create a stunning, user-friendly online presence. To get started, fill out the form below!</p>
            <ul class="list-unstyled">
                <li class="text-muted"><i class="fa-solid fa-check me-1"></i> Get a custom website tailored to your goals</li>
                <li class="text-muted"><i class="fa-solid fa-check me-1"></i> Deliver a seamless user experience</li>
                <li class="text-muted"><i class="fa-solid fa-check me-1"></i> Stand out with professional design</li>
                <li class="text-muted"><i class="fa-solid fa-check me-1"></i> Grow your business online</li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-5">
            {% include "contact_form.html" %}
        </div>
    </div>
</main>
{% endblock %}