{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load hitcount_tags %}
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <p class="text-center">Viewed {% get_hit_count for contact_model %} times</p>
            {% endif %}
            <h1 class="text-center mb-5">Contact For Any Query</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <p class="text-center mb-4">We believe in the power of collaboration. Whether you're a fellow artist, a business looking for creative solutions, or someone passionate about contemporary art, we're excited to connect with you.</p>
                    <form method="POST" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input required type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                                    <label for="name">Full Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input required type="email" class="form-control" id="email" name="email" placeholder="name@website.com">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number">
                                    <label for="phone_number">Phone Number</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea required class="form-control" placeholder="Leave a message here" name="message" id="message" style="height: 150px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                {{ contact_form.captcha }}
                                {% if contact_form.captcha.errors %}
                                <div class="text-danger">{{ contact_form.captcha.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                        {% if messages %} 
                        <div class="row mt-4 text-center">
                            {% for message in messages %}
                            <div class="text-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
