{% extends 'base.html' %}
{% block body %}
<div class="container px-4 mb-5 py-5">
    <div class="row justify-content-center align-items-center g-4 mt-5">
        <div class="col-sm-12 col-lg-7">
            <h1 class="fw-700 display-5 mb-3">Let’s create something amazing together.</h1>
            <p class="mb-4">Discover how Four Pixels Studio can help you create a stunning, user-friendly online presence. To get started, fill out the form below!</p>
            <ul class="list-unstyled">
                <li><i class="fa-solid fa-check me-1"></i> Get a custom website tailored to your goals</li>
                <li><i class="fa-solid fa-check me-1"></i> Deliver a seamless user experience</li>
                <li><i class="fa-solid fa-check me-1"></i> Stand out with professional design</li>
                <li><i class="fa-solid fa-check me-1"></i> Grow your business online</li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-5">
            <form action="{% url 'contact' %}" method="POST" onsubmit="showSpinner()" class="shadow-sm rounded-4 p-4 bg-white">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="mb-1" for="name">Your Name</label>
                    <input type="text" class="form-control py-2 rounded-3" name="name" id="name" required placeholder="John Doe">
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="phone_number">Phone Number</label>
                    <input type="tel" class="form-control py-2 rounded-3" id="phone_number" name="phone_number" placeholder="+1234 567 890">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label mb-1">Email address</label>
                    <input type="email" class="form-control py-2 rounded-3" id="email" name="email" required placeholder="mail@example.com">
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="name">Subject</label>
                    <input type="text" class="form-control py-2 rounded-3" name="subject" id="subject" required placeholder="e.g. Quotation for a blog website">
                </div>
                <div class="mb-3">
                    <label class="mb-1" for="message">Message</label>
                    <textarea required class="form-control py-2 rounded-3" placeholder="Tell us about your business needs and timeline" name="message" id="message" style="height: 150px"></textarea>
                </div>
                <div class="mb-3">
                    {{ contact_form.captcha }}
                    {% if contact_form.captcha.errors %}
                    <div class="text-danger">{{ contact_form.captcha.errors }}</div>
                    {% endif %}
                </div>
                <button id="submit-btn" type="submit" class="btn btn-dark w-100 btn-lg rounded-3">
                    <span id="submit-text">Send Message</span>
                    <span id="processing-text" class="d-none">Sending message...</span>
                    <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
