{% load static %}
<div class="container-fluid bg-secondary text-light footer wow fadeIn">
    <div class="container py-5 px-lg-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3">
                <p class="section-title text-white h5 mb-4">Address<span></span></p>
                <p><i class="fa fa-map-marker-alt me-3"></i>Nairobi, Kenya</p>
                <p><i class="fa fa-phone-alt me-3"></i>+254 700 28 70 73</p>
                <p><i class="fa fa-envelope me-3"></i>hello@fourpixels.studio</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://x.com/4ourPixels?t=mcuYBOjkEhg52xlZS1IDWA&s=09" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/profile.php?id=100094291777581" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/fourpixels.studio/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <p class="section-title text-white h5 mb-4">Quick Link<span></span></p>
                <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                <a class="btn btn-link" href="{% url 'projects_list' %}">Projects</a>
            </div>
            <div class="col-md-6 col-lg-3">
                <p class="section-title text-white h5 mb-4">Applications<span></span></p>
                <a class="btn btn-link" href="{% url 'image_search' %}">Image Search</a>
                <a class="btn btn-link" href="{% url 'image_compression' %}">Image Compression</a>
                <a class="btn btn-link" href="{% url 'blog_list' %}">News & Blogs</a>
            </div>
            <div class="col-md-6 col-lg-3">
                <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
                <p>Join our inner circle for the latest updates and exclusive perks.</p>
                <div class="position-relative w-100 mt-3">
                    <form method="POST" action="{% url 'newsletter' %}">
                        {% csrf_token %}
                        <input required name="email" class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="email" placeholder="email@website.com" style="height: 48px;">
                        <button type="submit" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary"></i></button>
                        {% if messages %}
                        <div id="newsletter_message" class="mt-4">
                            {% for message in messages %}
                            <div class="text-white">{{ message }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-lg-5">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <a href="{% url 'index' %}">&copy; 2017 - 
                        <script>document.write(new Date().getFullYear());</script>
                        Four Pixels Studio
                    </a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="{% url 'help' %}">Help</a>
                        <a href="{% url 'help' %}#privacyPolicy">Privacy Policy</a>
                        <a href="{% url 'help' %}#termsAndConditions">Terms & Conditions</a>
                        <a href="{% url 'help' %}#faq">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>