{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#30d5c8" />

<!-- Meta Tags -->
<title>Four Pixels Studio — {{ title_tag }}</title>
<meta name="title" content="Four Pixels Studio — {{ title_tag }}" />
<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta name="author" content="Four Pixels Studio" />
<meta name="robots" content="index, follow" />
{% if meta_thumbnail %}
<meta name="image" content="https://fourpixels.studio{{ meta_thumbnail }}" />
{% else %}
<meta name="image" content="https://fourpixels.studio{% static 'brand/fourpixelsstudio_thumbnail.jpg' %}" />
{% endif %}
{% if meta_url %}
<link rel="canonical" href="{{ meta_url }}" />
{% else %}
<link rel="canonical" href="https://fourpixels.studio/" />
{% endif %}

<!-- Facebook Meta Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Four Pixels Studio — {{ title_tag }}" />
<meta property="og:description" content="{{ meta_description }}" />
<meta property="og:image" content="https://fourpixels.studio{% static 'brand/fourpixelsstudio_thumbnail.jpg' %}" />
<meta property="og:keywords" content="{{ meta_keywords }}" />
{% if meta_url %}
<meta property="og:url" content="{{ meta_url }}" />
{% else %}
<meta property="og:url" content="https://fourpixels.studio/" />
{% endif %}


<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Four Pixels Studio" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{% if meta_thumbnail %}
<meta property="og:image" content="https://fourpixels.studio{{ meta_thumbnail }}" />
{% else %}
<meta property="og:image" content="https://fourpixels.studio{% static 'brand/fourpixelsstudio_thumbnail.jpg' %}" />
{% endif %}

<!-- Twitter Meta Tags -->
<meta property="twitter:card" content="summary_large_image" />
<meta name="twitter:image:width" content="1200" />
<meta name="twitter:image:height" content="630" />
{% if meta_thumbnail %}
<meta name="twitter:image" content="https://fourpixels.studio{{ meta_thumbnail }}" />
{% else %}
<meta property="twitter:image" content="https://fourpixels.studio{% static 'brand/fourpixelsstudio_thumbnail.jpg' %}" />
{% endif %}
<meta property="twitter:title" content="Four Pixels Studio — {{ title_tag }}" />
{% if meta_url %}
<meta property="twitter:url" content="{{ meta_url }}" />
{% else %}
<meta property="twitter:url" content="https://fourpixels.studio/" />
{% endif %}
<meta property="twitter:description" content="{{ meta_description }}" />
<meta property="twitter:keywords" content="{{ meta_keywords }}" />
<meta name="twitter:site" content="https://fourpixels.studio/" />
<meta name="twitter:creator" content="@4ourpixels" />

<!-- LinkedIn Meta Tags -->
{% if meta_thumbnail %}
<meta property="og:image" content="https://fourpixels.studio{{ meta_thumbnail }}" />
{% else %}
<meta property="og:image" content="https://fourpixels.studio{% static 'brand/fourpixelsstudio_thumbnail.jpg' %}" />
{% endif %}
<meta property="og:image:alt" content="{{ meta_description }}" />
<meta property="linkedin:site" content="https://www.linkedin.com/company/fourpixels.studio/" />

<!-- Favicons -->
<link rel="android-chrome" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png' %}" />
<link rel="android-chrome" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.png' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
<link href="{% static 'favicon/favicon.ico' %}" rel="icon" />
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />

<!-- Bootstrap  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<!-- Fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
<link href="{% static 'css/animations.css' %}" rel="stylesheet">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
