<div class="container-fluid me-0 bg-dark-2 pt-5 position-relative">
    <div class="row justify-content-evenly gy-0 align-items-start pb-0 pt-lg-5 position-relative" style="z-index: 1;">
        <div class="col-sm-12 col-lg-5">
            <div class="my-lg-5 py-5 px-sm-0">
                <h1 class="display-4 text-white">{{ homepage_data.hero_h1|linebreaks }}</h1>
                <p class="my-4 text-white">{{ homepage_data.hero_p }}</p>
                <a href="{% url 'contact' %}" class="btn btn-light px-4">
                    <div class="d-flex flex-row align-items-center gap-2">
                        <span>{{ homepage_data.hero_btn_primary }}</span>
                        <span><i class="fa-solid fa-arrow-right-long" style=" color: #0a2e2b"></i></span>
                    </div>
                </a>
                <ul class="list-unstyled mt-5 d-flex flex-row flex-wrap gap-3 align-items-center">
                    <li><a href="https://instagram.com/fourpixels.studio/" target="_blank" class="no-link text-light"><i class="fa-xl fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://x.com/4ourPixels/" target="_blank" class="no-link text-light"><i class="fa-xl fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100094291777581" target="_blank" class="no-link text-light"><i class="fa-lg fa-brands fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5">
            <img src="{{ homepage_data.hero_image.url }}" alt="Hero Image" class="img-fluid">
        </div>
    </div>
    <div class="animated-background">
        <div class="animated-row-1 animated-row"></div>
        <div class="animated-row-2 animated-row"></div>
        <div class="animated-row-3 animated-row"></div>
        <div class="animated-row-4 animated-row"></div>
        <div class="animated-row-5 animated-row"></div>
        <div class="animated-row-6 animated-row"></div>
        <div class="animated-row-7 animated-row"></div>
        <div class="animated-row-8 animated-row"></div>
        <div class="animated-row-9 animated-row"></div>
        <div class="animated-row-10 animated-row"></div>
    </div>
</div>
