{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container-fluid me-0 bg-dark-2">
    <div class="row gy-5 justify-content-between align-items-end pt-0 pt-lg-5">
        <div class="col-sm-12 col-lg-6">
            <div class="mt-5 pt-5 px-sm-0 px-lg-5">
                <p class="btn btn-outline-light rounded-5 btn-sm px-3" style="font-size: .6rem;">Web Design Agency</p>
                <h1 class="display-6 text-white">Life's Empty Without Beautiful Design.</h1>
                <p class="my-4 text-white">We create and design applications, websites or other digital products with profesionalism.</p>
                <a href="{% url 'projects_list' %}" class="btn btn-light rounded-pill ps-4">
                    <div class="d-flex flex-row align-items-center gap-2">
                        <span>Latest Work</span>
                        <span><i class="fa-solid fa-circle-arźow-right" style="font-size: 2rem; color: #0a2e2b"></i></span>
                    </div>
                </a>
                <ul class="list-unstyled mt-5 d-flex flex-row flex-wrap gap-2 align-items-center">
                    <li><a href="https://instagram.com/fourpixels.studio/" target="_blank" class="no-link text-light"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://x.com/4ourPixels/" target="_blank" class="no-link text-light"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100094291777581" target="_blank" class="no-link text-light"><i class="fa-brands fa-sm fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <img src="{% static 'img/homepage/web_app_designer_hand.png' %}" alt="" class="img-fluid p-0 m-0" >
        </div>
    </div>
</div>

<section class="container my-5 py-5">
    <div class="row">
        <div class="col-sm-12 col-lg-7">
            <h2 class="display-6 fw-500">Are You Struggling to Showcase Your Talent Online?</h2>
            <p class="text-muted mb-5">Our services are tailored for:</p>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-4 fadeInUp">
            <div class="rounded-5 border p-4">
                <i style="font-size: 2.5rem; margin: 1rem auto 2rem auto" class="{{ homepage_data.card_1_icon }} text-"></i>
                <h5 class="mb-2">{{ homepage_data.card_1_title }}</h5>
                <p class="m-0 text-muted fw-300">{{ homepage_data.card_1_paragraph }}</p>
            </div>
        </div>
        <div class="col-lg-4 zoomOut">
            <div class="rounded-5 border bg-dark p-4">
                <i style="font-size: 2.5rem; margin: 1rem auto 2rem auto" class="{{ homepage_data.card_2_icon }} text-white"></i>
                <h5 class="mb-2 text-white">{{ homepage_data.card_2_title }}</h5>
                <p class="m-0 text-white fw-300">{{ homepage_data.card_2_paragraph }}</p>
            </div>
        </div>
        <div class="col-lg-4 fadeInUp">
            <div class="rounded-5 border p-4">
                <i style="font-size: 2.5rem; margin: 1rem auto 2rem auto" class="{{ homepage_data.card_3_icon }} text-"></i>
                <h5 class="mb-2">{{ homepage_data.card_3_title }}</h5>
                <p class="m-0 text-muted fw-300">{{ homepage_data.card_3_paragraph }}</p>
            </div>
        </div>
    </div>
</section>
<div class="container p-lg-0 px-4 fadeInUp">
    <div class="row row-cols-2 gy-5 my-5 pb-5">
        {% for project in get_project_highlights %}
        {% if project.highlight %}
        <div class="col-sm-6 col-md-4 col-lg-2">
            <img src="{{ project.logo.url }}" alt="{{ project.name }}'s Logo" class="img-fluid" style="filter: brightness(0) saturate(100%) invert(11%) sepia(61%) saturate(393%) hue-rotate(162deg) brightness(92%) contrast(91%); height: 90px; width: 100%; object-fit: cover">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<section class="container-fluid bg-dark-2 py-5 my-5">
    
    <div class="container mb-5 px-0 px-lg-4 fadeInUp">
        <h1 class="my-5 text-white">By the End of Our Collaboration, You Will:</h1>
        <div class="row gy-5 align-items-start justify-content-between">
            <div class="col-sm-12 col-lg-4 fadeInUp">
                <img src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="img-fluid rounded-4">
                <div class="mt-3">
                    <h5 class="text-white">Have a Professional, Custom-Designed Website or Web App</h5>
                    <p class="text-white small my-3 fw-300">We'll work together to create a website or web app that perfectly represents your brand and meets your unique needs.</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 fadeInUp">
                <img src="https://images.pexels.com/photos/4348401/pexels-photo-4348401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);" alt="" class="img-fluid rounded-4">
                <div class="mt-3">
                    <h5 class="text-white">Gain the Skills to Manage and Update Your Site with Confidence</h5>
                    <p class="text-white small my-3 fw-300">You'll learn how to easily make updates and changes to your website, ensuring it stays fresh and relevant.</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 fadeInUp">
                <img src="https://images.pexels.com/photos/5383809/pexels-photo-5383809.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);" alt="" class="img-fluid rounded-4">
                <div class="mt-3">
                    <h5 class="text-white">Enjoy Ongoing Support and Maintenance</h5>
                    <p class="text-white small my-3 fw-300">We’ll provide continuous support & maintenance, giving you peace of mind knowing your online presence is always optimized & secure.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Projects Start -->
<section class="container px-4 my-6 fadeInUp">
    <div class="d-flex flex-wrap flex-row justify-content-between align-items-center mb-5">
        <div class="col-sm-12 col-lg-6">
            <h2>Our Latest Creations</h2>
            <p class="text-muted">Visit our Portfolio Page to explore a wider selection of our work and see how we can bring your vision to life.</p>
        </div>
        <div class="pe-0 col-sm-12 col-lg-6">
            <div class="float-end">
                <a href="{% url 'projects_list' %}" class="btn btn-primary rounded-pill ps-4">
                    <div class="d-flex flex-row align-items-center gap-2">
                        <span>View Projects</span>
                        <span><i class="fa-solid fa-circle-arrow-right" style="font-size: 2rem;"></i></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row g-4">
        {% for project in get_recent_projects %}
        <div class="col-sm-12 col-lg-4">
            <a href="{{ project.get_url }}" class="no-link">
                <img class="img-fluid rounded-3 w-100 bg-white" src="{{ project.logo.url }}" alt="{{ project.name }}'s Logo">
                <div class="d-flex flex-row justify-content-between align-items-start mt-3">
                    <h6 class="hover-underline text-dark">{{ project.name }} - {{ project.company_category }}</h6>
                    <div class="float-end">
                        <i class="fa-solid fa-square-arrow-up-right fa-lg text-secondary"></i>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Projects End -->

<section class="container my-6 fadeInUp">
    <div class="bg-dark p-5 rounded-5">
        <h1 class="display-1 text-white fw-500">Digital solution with 10+ years of experience.</h1>
        <div class="row mt-4 g-3 justify-content-between align-items-center fadeInUp">
            <div class="col-sm-12 col-lg-7">
                <p class="fw-400 text-white">At Four Pixels Studio we're passionate about customer experience and team culture. When you choose to work with us, you're collaborating with a team that genuinely loves what they do.</p>
            </div>
            <div class="col-sm-12 col-lg-3">
                <a href="{% url 'about' %}" class="btn w-100 btn-lg rounded-4 btn-primary">Know more <i style="font-size: .8rem;" class="fa-solid fa-chevron-right ms-2"></i></a>
            </div>
        </div>
    </div>
</section>


<!-- Blogs Start -->
<section class="container px-4 my-6 fadeInUp">
    <div class="row">
        <div class="col-sm-12 col-lg-7">
            <h3>Blogs, News, and Tutorials</h3>
            <p class="text-muted">Explore our latest articles, news updates, in-depth tutorials, and step-by-step guides. Whether you're looking to stay informed about the latest industry trends or learn how we built specific apps, this section has something for everyone.</p>
        </div>
    </div>
    <div class="row my-4 g-4">
        {% for blog in blogs|slice:2 %}
        <div class="col-lg-4 col-sm-12">
            {% include "components/blog.html" %}
        </div>
        {% endfor %}
        <div class="col-lg-4 col-sm-12">
            <div class="">
                <img class="img-fluid rounded-4 w-100 bg-secondary" src="{% static 'img/blogs_thumbnail.png' %}" alt="Blogs thumbnail" style="height: 200px; width: 319px; object-fit: cover">
                <div class="mt-2">
                    <a href="{% url 'blog_list' %}" class="no-btn">
                        <div class="d-flex flex-row flex-wrap gap-2 align-items-center">
                            <small class="badge-sm" style="background-color: #bcbcbc;">All</small> 
                            <small class="text-muted" style="font-size: .8rem;">4 Topics</small> 
                        </div>
                        <h6 class="mt-2 fw-500 hover-underline text-">Stay updated with the latest trends, tips, & news in web design, development, & more.</h6>
                        <p class="fw-300 text-muted small">Explore our Blog Archive for a full collection of articles, tips, and news.</p>
                        <button class="btn btn-secondary rounded-4 w-100">Browse our full collection</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blogs End -->
{% include 'components/testimonials.html' %}
{% endblock %}
