{% load static %}
<nav class="w-100 navbar navbar-expand-lg shadow-sm bg-white fixed-top">
    <div class="container px-3">
        <a href="{% url 'index' %}" class="navbar-brand p-0 d-flex align-items-center">
            <img src="{% static '4pixels-dark.svg' %}" style="min-height: 30px; height: 40px; width: auto; object-fit: cover; filter: grayscale(1);" class="img-fluid" alt="Logo">
            <h5 class="ms-2 my-0 text-black logo-text d-md-block d-none">Four Pixels Studio</h5>
        </a>
        <button class="navbar-toggler me-1 collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse my-1 m-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto mt-4 mt-lg-0">
                <a href="{% url 'index' %}" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">Home</a>
                <a href="{% url 'projects_list' %}" class="nav-item nav-link {% if '/projects/' in request.path %}active{% endif %}">Projects</a>
                <a href="{% url 'blog_list' %}" class="nav-item nav-link {% if '/blogs/' in request.path %}active{% endif %}">Blogs</a>
                <a href="{% url 'applications_list' %}" class="nav-item nav-link {% if '/applications/' in request.path %}active{% endif %}">Apps</a>
                <a href="{% url 'about' %}" class="nav-item nav-link {% if '/about/' in request.path %}active{% endif %}">About</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="nav-item nav-link">Dashboard</a>
                <a href="/admin/" class="nav-item nav-link">Admin</a>
                <a href="{% url 'account_logout' %}" class="nav-item nav-link">Log Out</a>
                {% endif %}
            </div>
            <a href="{% url 'contact' %}" class="d-lg-none my-4 w-100 btn-lg btn btn-dark">Let's Talk</a>
            <a href="{% url 'contact' %}" class="d-none ms-2 px-3 d-lg-block btn btn-dark">Let's Talk</a>
        </div>
    </div>
</nav>