{% load static %}
<div class="container-fluid position-relative p-0">
    <nav class="position-fixed w-100 navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{% url 'index' %}" class="navbar-brand p-0">
            <img src="{% static '4pixels-icon.svg' %}" alt="Logo">
        </a>
        <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'about' %}#services" class="dropdown-item">Services</a>
                        <a href="{% url 'blog_list' %}" class="dropdown-item">News & Blogs</a>
                        <a href="{% url 'applications_list' %}" class="dropdown-item">Applications</a>
                        <a href="{% url 'projects_list' %}" class="dropdown-item">Projects</a>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <a href="/admin/" class="nav-item nav-link">Admin</a>
                <a href="{% url 'account_logout' %}" class="nav-item nav-link">Log Out</a>
                {% endif %}
            </div>
            <a href="{% url 'contact' %}" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Get Started</a>
        </div>
    </nav>
    {% include 'hero.html' %}
</div>
