{% load static %}
<nav style="z-index: 999;" class="w-100 bg-dark-2 position-fixed navbar navbar-expand-lg py-lg-2">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand m-0 p-0 logo-wrapper d-flex align-items-center">
            <img src="{% static '4pixels-icon.svg' %}" style="height: 40px; width: auto; object-fit: cover;" class="img-fluid" alt="Logo">
            <h5 class="ms-2 my-0 text-primary logo-text">Four Pixels Studio</h5>
        </a>
        <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse my-3 m-lg-0" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'projects_list' %}" class="nav-item nav-link">Our Work</a>
                <a href="{% url 'blog_list' %}" class="nav-item nav-link">Blogs</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="nav-item nav-link">Dashboard</a>
                <a href="/admin/" class="nav-item nav-link">Admin</a>
                <a href="{% url 'account_logout' %}" class="nav-item nav-link">Log Out</a>
                {% endif %}
            </div>
            <div class="col-sm-12 col-lg-2">
                <a href="{% url 'contact' %}" class="btn btn-light w-100">Get Started</a>
            </div>
        </div>
    </div>
</nav>
