{% extends 'base.html' %}
{% block body %}
<main class="container text-center my-6">
    <i style="font-size: 5rem;" class="fa-regular fa-circle-check text-success"></i>
    <h1 class="display-4 mt-3">Thank You!</h1>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
            <p class="lead">{{ message_1 }}</p>
            {% if message_2 %}
            <p class="text-muted">{{ message_2 }}</p>
            {% endif %}
            <a href="/" class="btn btn-lg px-4 rounded-4 btn-primary mt-3">Return to Homepage</a>
        </div>
    </div>
</main>
{% endblock %}
